#root {
  max-width: 1280px;
  min-width: 1000px;
  min-height: 90svh;
  margin: 0 auto;
  padding: 0 2rem;
}

label select, input {
  padding: 10px 15px;
  border-radius: 0.7rem;
}

#pageContainer {
  display: flex;
  flex-direction: column;
  height: 98svh;
  min-width: 100svh;
}