.navigateContainer {
  margin-left: auto;
  text-align: center;
}

.navigateContainer > span {
  margin: auto 0;
  display: block;
  text-align: center;
}

.navBtn {
  background-color: rgba(255, 255, 255, 0.125);
  border-radius: 0.9em;
  padding: 0.25em 0.5em;
  margin: 0 5px;
}

.navBtn:hover {
  cursor: pointer;
}
