.myFooter {
  height: 72px;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  margin-top: auto;
  font-size: 14px;
}

.myFooter div {
  margin: auto;
}

.myFooter .leftContainer {
  margin-left: 0;
}

.myFooter .leftContainer a {
  display: inline-block;
}

.myFooter .leftContainer a img {
  vertical-align: middle;
}
.myFooter .leftContainer a.flex {
  display: inline-flex;
}

.pokemonLogo {
  max-width: 120px;
}
