
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  .contentW {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.7rem;
    background: rgba(10, 40, 95, 0.5);
    color: #f1f1f1;
    width: 50%;
    padding: 20px;
  }